<a href="https://colab.research.google.com/github/kreimben/ML_Notes/blob/main/Lv1_%EC%9D%98%EC%82%AC%EA%B2%B0%EC%A0%95%ED%9A%8C%EA%B7%80%EB%82%98%EB%AC%B4%EB%A1%9C_%EB%94%B0%EB%A6%89%EC%9D%B4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%98%88%EC%B8%A1%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Lv1. 의사결정회귀나무로 따릉이 데이터 예측하기](https://dacon.io/competitions/open/235698/overview/description)

데이터를 분석하기 위해 불러오고, 조작하는 등 핸들링을 하려면 도구가 필요합니다. 대표적으로 pandas, numpy, matplotlib 등이 있습니다. 머신러닝을 하려면 최우선적으로 이러한 도구, 즉 라이브러리를 불러와야 합니다.

In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
data = pd.read_csv('파일경로/파일이름.csv')

read_csv() 를 통해 csv 파일을 pandas 라이브러리에서 제공하는 DataFrame 객체로 변환했다면, 우선 불러온 데이터의 행과 열의 갯수를 shape attribute 로 관찰할 수 있습니다.

In [ ]:
[DataFrame 변수명].shape

Pandas 라이브러리를 이용하여 데이터를 확인하는 방법은 여러 가지가 있지만, 그중 가장 대표적인 메서드는 `head()` 메서드 입니다.

`head()` 메서드는 데이터 전부를 보여주지 않고 데이터의 상단부분만 출력하여 보여줍니다.

`head()`와 유사한 메서드로는 `tail()`메서드가 있고, `tail()` 메서드는 데이터의 하단 부분을 출력하여 보여줍니다.

In [ ]:
import pandas as pd

train = pd.read_csv('data/train.csv')

train.head() # train 데이터의 상단 5개 행 출력

결측치(Missing Value)는 말 그대로 데이터에 값이 없는 것을 뜻합니다. 줄여서 'NA'라고 표현하기도 하고, 다른 언어에서는 Null 이란 표현을 많이 씁니다.

Pandas 에서는 결측치를 NaN 값으로 표현합니다.

Pandas에서 isnull() 메서드를 사용하면 DataFrame에서 NaN 값을 확인 할 수 있습니다.

isnull() 메소드는 Dataframe에서 데이터가 NaN 값이면 True로, 그렇지 않으면 False로 값을 리턴합니다.

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
        'name': ['kwon', 'park', 'kim'],
        'age':[30, np.nan, 19],
        'class':[np.nan, np.nan, 1]
})

df.isnull()

    name    age  class
0  False  False   True
1  False   True   True
2  False  False  False

그리고 `isnull()` 메서드 뒤에 `sum()` 메서드를 추가 해주면 데이터 프레임의 각 열 별 결측치의 수를 확인 할 수 있습니다.

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
        'name': ['kwon', 'park', 'kim'],
        'age':[30, np.nan, 19],
        'class':[np.nan, np.nan, 1]
})

df.isnull().sum()

name     0
age      1
class    2
dtype: int64